.macbook-pro11 {
  background: var(--Gray-6, #fafafa);
  section {
    .hero-text {
      padding-top: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 47.6px */
      letter-spacing: 0.25px;
    }
    .hero-content {
      display: flex;
      align-items: start;
      gap: 129px;
      .text-content {
        padding-top: 87px;
        padding-left: 147px;
        p:first-child {
          color: #000;
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Montserrat;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 33.6px */
        }
        p:nth-child(2) {
          padding-top: 24px;
          color: #000;
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 170%; /* 23.8px */
          letter-spacing: 0.25px;
        }
      }
      .image-content {
        padding-top: 25px;
        padding-right: 147px;
      }
    }
  }
  section:nth-child(2) {
    p {
      padding-top: 63px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Montserrat;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 47.6px */
      letter-spacing: 0.25px;
    }
  }
  section:nth-child(3) {
    background: var(--Tecxt-white, #fff);
    height: 160px;
    margin-bottom: 370px;
    .cards {
      display: flex;
      margin-top: 24px;
      padding-bottom: 11px;
      justify-content: center;
      flex-wrap: wrap;
      display: flex;
      //   justify-content: center;
      gap: 50px;
      align-items: center;
      .card {
        width: 294px;
        height: 144px;
        flex-shrink: 0;
        border-radius: 12px;
        text-align: center;
        transition: 0.4s;
        i {
          padding-top: 40px;
          font-size: 36px;
          transition: 0.4s;
        }
        p {
          padding-top: 35px;
          margin-bottom: 20px;
          color: var(--Black, #000);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 22.4px */
          letter-spacing: 0.44px;
          transition: 0.4s;
        }
      }
      .card:hover {
        box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
        i {
          color: rgb(0, 179, 255);
        }
        p {
          color: rgb(0, 179, 255);
        }
      }
    }
  }
  section:nth-child(4) {
    margin-top: 239px;
    background: radial-gradient(
      1075.73% 141.42% at 0% 0%,
      #0f0d2b 0%,
      #0c0926 100%
    );
    height: 400px;
    .phone-content {
      display: flex;
      .image-content {
        padding-left: 102px;
        margin-top: -175px;
      }
      .text-content {
        padding-left: 65px;
        p:first-child {
          padding-top: 40px;
          color: var(--White, #fff);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Montserrat;
          font-size: 34px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 47.6px */
          letter-spacing: 0.25px;
        }
        p:nth-child(2) {
          padding-top: 24px;
          color: var(--White, #fff);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 22.4px */
          letter-spacing: 0.44px;
        }
        .buttons {
          padding-top: 40px;
          display: flex;
          gap: 31px;
          margin-bottom: 20px;
          svg:first-child {
            width: 165px;
            height: 56px;
            flex-shrink: 0;
            border-radius: 8px;
            cursor: pointer;
          }
          svg:nth-child(2) {
            cursor: pointer;
            width: 172px;
            height: 56px;
            flex-shrink: 0;
            border-radius: 8px;
          }
        }
      }
    }
  }
  section:nth-child(5) {
    .address {
      display: flex;
      .map {
        padding-top: 152px;
        margin-bottom: 62px;
        iframe {
          width: 705px;
          height: 624px;
          border-radius: 6px;
        }
      }
      .info {
        padding-top: 147px;
        padding-left: 128px;
        p {
          color: #000;
          font-family: sans-serif;
          font-size: 46px;
          font-style: normal;
          font-weight: 900;
          line-height: 64px; /* 139.13% */
        }
        .info-cards {
          padding-top: 65px;
          display: flex;
          flex-wrap: wrap;
          column-gap: 100px;
          .card {
            margin-top: 65px;
            height: 136px;
            width: 166px;
            border-radius: 8px;
            transition: 0.3s;
            p:first-child {
              padding-left: 5px;
              color: #000;
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-family: sans-serif;
              font-weight: 700;
              line-height: 32px; /* 177.778% */
              transition: 0.3s;
            }
            p:nth-child(2) {
              padding-left: 5px;
              color: #000;
              font-family: sans-serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 32px; /* 177.778% */
              transition: 0.3s;
            }
            p:nth-child(3) {
              padding-left: 5px;
              color: #000;
              font-family: sans-serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 32px; /* 177.778% */
              transition: 0.3s;
            }
          }
          .card:hover {
            box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
            i {
              color: rgb(0, 179, 255);
            }
            p {
              color: rgb(0, 179, 255);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1305px) {
  .macbook-pro11 {
    section:nth-child(5) {
      .address {
        display: block;
        .map {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 100px;
          margin-bottom: 62px;
          iframe {
            width: 705px;
            height: 624px;
            border-radius: 6px;
          }
        }
        .info {
          padding-top: 0px;
          padding-left: 0px;
          p {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            font-family: sans-serif;
            font-size: 46px;
            font-style: normal;
            font-weight: 900;
            line-height: 64px; /* 139.13% */
          }
          .info-cards {
            padding-top: 65px;
            display: flex;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 100px;
            .card {
              margin-bottom: 20px;
              margin-top: 65px;
              height: 136px;
              width: 166px;
              border-radius: 8px;

              p:first-child {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 5px;
                color: #000;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-family: sans-serif;
                font-weight: 700;
                line-height: 32px; /* 177.778% */
              }
              p:nth-child(2) {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 5px;
                color: #000;
                font-family: sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 177.778% */
              }
              p:nth-child(3) {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 5px;
                color: #000;
                font-family: sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 177.778% */
              }
            }
            .card:hover {
              box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
              i {
                color: rgb(0, 179, 255);
              }
              p {
                color: rgb(0, 179, 255);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .macbook-pro11 {
    section {
      .hero-text {
        padding-top: 64px;
      }
      .hero-content {
        display: flex;
        align-items: start;
        gap: 50px;
        .text-content {
          padding-top: 87px;
          padding-left: 100px;
        }
        .image-content {
          padding-top: 25px;
          padding-right: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1101px) {
  .macbook-pro11 {
    section:nth-child(4) {
      margin-top: 239px;
      background: radial-gradient(
        1075.73% 141.42% at 0% 0%,
        #0f0d2b 0%,
        #0c0926 100%
      );
      height: 700px;
      .phone-content {
        display: block;
        .image-content {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 0px;
          img {
            margin-top: -175px;
          }
        }
        .text-content {
          padding-left: 0px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
@media only screen and (max-width: 620px) {
  .macbook-pro11 {
    section:nth-child(4) {
      margin-top: 239px;
      background: radial-gradient(
        1075.73% 141.42% at 0% 0%,
        #0f0d2b 0%,
        #0c0926 100%
      );
      height: 800px;
    }
  }
}
@media only screen and (max-width: 435px) {
  .macbook-pro11 {
    section:nth-child(4) {
      height: 800px;
      .phone-content {
        .text-content {
          .buttons {
            gap: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 380px) {
  .macbook-pro11 {
    section:nth-child(4) {
      height: 970px;
    }
  }
}

@media only screen and (max-width: 1022px) {
  .macbook-pro11 {
    section:nth-child(3) {
      height: 368px;
    }
  }
}

@media only screen and (max-width: 1009px) {
  .macbook-pro11 {
    section {
      .hero-text {
        padding-top: 64px;
      }
      .hero-content {
        .text-content {
          padding-top: 57px;
          padding-left: 50px;
        }
        .image-content {
          padding-top: 25px;
          padding-right: 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 886px) {
  .macbook-pro11 {
    section {
      .hero-text {
        padding-top: 64px;
      }
      .hero-content {
        display: block;
        align-items: start;
        gap: 30px;
        .text-content {
          padding-top: 57px;
          padding-left: 50px;
          padding-right: 50px;
        }
        .image-content {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 25px;
          padding-right: 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .macbook-pro11 {
    section {
      .hero-text {
        padding-top: 34px;
      }
      .hero-content {
        .text-content {
          padding-top: 57px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 678px) {
  .macbook-pro11 {
    section:nth-child(3) {
      height: 550px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .macbook-pro11 {
    section {
      .hero-text {
        padding-top: 34px;
      }
      .hero-content {
        display: block;
        align-items: start;
        gap: 30px;
        .text-content {
          padding-top: 27px;
          padding-left: 0px;
          padding-right: 0px;
        }
        .image-content {
          img {
            width: 309px;
          }
        }
      }
    }
    section:nth-child(4) {
      .phone-content {
        .image-content {
          img {
            margin-top: -140px;
            width: 250px;
            height: 420px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .cards {
    gap: 30px;
  }
}
